<form>
  <div class="row ">
    <div class="col-6 col-lg-2 col-md-3">
      <select [(ngModel)]="tabType" name="Person" class="form-control">
        <option>Person</option>
        <option>City</option>
      </select>
      <!--<select [(ngModel)]="selectedTabType" name="{{selectedTabType}}" class="form-control">
        <option *ngFor="let type of tabTypes" [ngValue]="type">{{type.name}}</option>
      </select>-->
    </div>
    <div class="col-6 col-lg-3 col-md-3">
      <button type="button" class="btn btn-primary" (click)="addTab()">Add {{tabType}}</button>
    </div>
  </div>
</form>
<br>
<div class="row">
  <div class="col">

    <ngb-tabset>
      <ngb-tab title="Person" id="1">
        <app-tab *ngFor="let tab of appTabs" [appTab]="tab"></app-tab>
      </ngb-tab>
    </ngb-tabset>

  </div>
</div>
