<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<!--<app-tabset></app-tabset>-->

<div class="container">
  <app-tabset></app-tabset>
</div>

<!--
<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
<div class="row">
  <div class="col">
    <app-odd-number *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd-number>
  </div>
  <div class="col">
    <app-even-number *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even-number>
  </div>
</div>
-->
